.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#captionOverImage {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: hsla(207, 80%, 72%, 0.048);
}
